---
import Typography from "@/components/ui/Typography.astro";
---

<section class="p-rws space-y-4 lg:space-y-8">
  <Typography as="h1" variant={"h2"}
    >Skontaktuj się z nami — chętnie pomożemy</Typography
  >
  <Typography mw="p">
    Jesteśmy tutaj, aby wyjaśnić wątpliwości, doradzić i przedstawić możliwe
    rozwiązania dla Twojej firmy. Napisz, zadzwoń lub odwiedź nas w biurze —
    odpowiemy szybko i konkretnie.
  </Typography>
</section>
