---
import Head from "@/layouts/Head.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import * as m from "@/paraglide/messages";
import IndexCta1 from "@/sections/index/index-cta-1.astro";
import IndexCta from "@/sections/index/index-cta.astro";
import IndexHero from "@/sections/index/index-hero.astro";
import IndexMeetTeam from "@/sections/index/index-meet-team.astro";
import IndexOffer from "@/sections/index/index-offer.astro";
import IndexSeoFodder from "@/sections/index/index-seo-fodder.astro";
import IndexTestimonials from "@/sections/index/index-testimonials.astro";
import IndexUsp from "@/sections/index/index-usp.astro";
---

<RootLayout>
  <Head
    slot={"head"}
    title={m.plain_smug_manatee_chop()}
    description={m.odd_east_myna_nurture()}
  />
  <main>
    <IndexHero />
    <IndexOffer />
    <IndexCta />
    <IndexUsp />
    <IndexMeetTeam />
    <IndexTestimonials />
    <IndexCta1 />
    <IndexSeoFodder />
  </main>
</RootLayout>
