---
import Head from "@/layouts/Head.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import IndexCta from "@/sections/index/index-cta.astro";
import IndexHero from "@/sections/index/index-hero.astro";
import IndexOffer from "@/sections/index/index-offer.astro";
---

<RootLayout>
  <Head slot={"head"} title="index" description="index" />
  <main>
    <IndexHero />
    <IndexOffer />
    <IndexCta />
  </main>
</RootLayout>
