---
import Head from "@/layouts/Head.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import IndexHero from "@/sections/index/index-hero.astro";
---

<RootLayout>
  <Head slot={"head"} title="index" description="index" />
  <main>
    <IndexHero />
  </main>
</RootLayout>
