---
import bookmarks from "@/assets/svgs/undraw_bookmarks_i66k.svg";
import conferenceCall from "@/assets/svgs/undraw_conference-call_ccsp.svg";
import experts from "@/assets/svgs/undraw_experts_v2vy.svg";
import upToDate from "@/assets/svgs/undraw_up-to-date_o0j3.svg";
import Typography from "@/components/ui/Typography.astro";
import * as m from "@/paraglide/messages";
const usps = [
  {
    svg: experts,
    h3: m.safe_flaky_parakeet_grin(),
    p: m.lofty_neat_goose_hope(),
  },
  {
    svg: upToDate,
    h3: m.acidic_zesty_skunk_cook(),
    p: m.silly_brave_marlin_treasure(),
  },
  {
    svg: conferenceCall,
    h3: m.proud_sea_tortoise_forgive(),
    p: m.trick_sea_niklas_gaze(),
  },
  {
    svg: bookmarks,
    h3: m.trick_extra_elk_leap(),
    p: m.bad_grand_seahorse_succeed(),
  },
];
---

<section class="p-rws *:p-rws">
  <header>
    <Typography as="h2" variant={"h2l"}>
      {m.noisy_trick_insect_sew()}
    </Typography>
  </header>
  <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-6 lg:gap-12">
    {
      usps.map(({ h3, p, svg: Svg }, i) => (
        <div
          class:list={[
            "relative flex p-4 flex-col gap-3 lg:gap-6 items-center text-center",
            // (i === 0 || i === 3) && "lg:col-span-2",
          ]}>
          <Svg class={"w-min max-w-full max-h-32"} />
          <Typography as="h3" variant="h3" set:html={h3} />
          <Typography set:html={p} class="text-balance" />
        </div>
      ))
    }
  </div>
</section>
