---
import heroImg from "@/assets/imgs/hero.jpg";
import { Badge } from "@/components/ui/badge";
import Button from "@/components/ui/Button.astro";
import Typography from "@/components/ui/Typography.astro";
import { Image } from "astro:assets";
import { ArrowRight } from "lucide-react";
---

<section
  data-invert-header
  class="h-screen text-background pt-32 grid size-full">
  <Image
    src={heroImg}
    alt=""
    class="cover-img z-0"
    sizes="100vw"
    widths={[300, 450, 600, 900, 1200, 1600, 1920]}
    fetchpriority={"high"}
    loading={"eager"}
  />
  <div
    class="h-[50lvh]! absolute w-full z-5 bg-foreground/45 mask-t-from-25% backdrop-blur-sm bottom-0!">
  </div>
  <div class="cover-img z-1 bg-linear-0 from-accent to-foreground opacity-60">
  </div>
  <!--  -->
  <div
    data-inverted="true"
    class="relative h-full grid place-items-center text-background z-10">
    <div class="flex flex-col items-center justify-center gap-8">
      <Typography variant={"headline"} class="text-center leading-tight">
        Rzetelny <span
          class="underline decoration-accent underline-offset-12 decoration-8">
          fundament
        </span>
        <br /> Twojej firmy
      </Typography>
      <Typography mw="p" class="text-center">
        Łączymy profesjonalną wiedzę ekspercką z nowoczesną organizacją pracy.
        Zapewniamy bezpieczeństwo i spokój finansowy Twojego biznesu.
      </Typography>
      <Button size="lg" as="a" href="/oferta/">
        Sprawdź naszą ofertę <ArrowRight />
      </Button>
    </div>
    <div class="flex gap-2 flex-wrap">
      {
        [
          "Obsługa księgowa",
          "Doradztwo podatkowe",
          "Sprzedaż gotowych spółek",
          "Rejestracja firm",
        ].map((t) => (
          <Badge variant={"outline"} size="lg" className="text-background">
            {t}
          </Badge>
        ))
      }
    </div>
  </div>
</section>
