---
import ArrowRightAnim from "@/components/ui/arrow-right-anim.astro";
import Button from "@/components/ui/Button.astro";
import Typography from "@/components/ui/Typography.astro";
---

<section class="p-rws mt-32 space-y-4 lg:space-y-8">
  <Typography as="h1"> Cennik usług księgowych </Typography>
  <Typography variant={"headline"}>
    Ile kosztuje księgowość? Sprawdź cenę dla swojej firmy
  </Typography>
  <Typography mw="p">
    Obsługa księgowa powinna być przejrzysta i przewidywalna. Dlatego
    stworzyliśmy kalkulator, który pomoże Ci szybko oszacować koszt usług,
    dowiedzieć się, co dokładnie wliczamy w cenę i dlaczego warto powierzyć nam
    księgowość.
  </Typography>
  <Button size="lg"> Przejdź do wyceny <ArrowRightAnim /> </Button>
</section>
