---
import ArrowRightAnim from "@/components/ui/arrow-right-anim.astro";
import Button from "@/components/ui/Button.astro";
import Typography from "@/components/ui/Typography.astro";
import * as m from "@/paraglide/messages";
---

<section class="p-rws mt-32 space-y-4 lg:space-y-8">
  <Typography as="h1"> {m.fluffy_known_earthworm_slurp()} </Typography>
  <Typography variant={"headline"}>
    {m.bright_active_swallow_persist()}
  </Typography>
  <Typography mw="p">
    {m.icy_caring_osprey_tear()}
  </Typography>
  <Button size="lg"> {m.late_minor_pug_heart()} <ArrowRightAnim /> </Button>
</section>
