---
import { ContactForm } from "@/components/features/contact-form";
import Typography from "@/components/ui/Typography.astro";
---

<section class="p-rws space-y-6">
  <header class="space-y-2">
    <Typography as="h2" variant="h2l">
      Write to us — we'll respond within 24 hours
    </Typography>
    <Typography mw="p">
      Do you have questions about cooperation, pricing, or specific accounting
      services? Fill out the form, and we'll get back to you with an answer as
      soon as possible.
    </Typography>
  </header>

  <div class="bg-accent/20 rounded-lg p-6 lg:p-8">
    <ContactForm client:load />
  </div>
</section>
