---
import Typography from "@/components/ui/Typography.astro";
---

<section class="p-rws mt-32 space-y-4 lg:space-y-8">
  <Typography as="h1">Contact us — we're happy to help</Typography>
  <Typography mw="p">
    We are here to clarify doubts, advise, and present possible solutions for
    your company. Write, call, or visit our office — we will respond quickly
    and specifically.
  </Typography>
</section>
