---
import Splash from "@/components/features/Splash.astro";
import AppHeader from "@/layouts/AppHeader.astro";
import { getLocale } from "@/paraglide/runtime";
import "@/styles/global.css";
const lang = getLocale();
const dir = "ltr";
---

<html {lang} {dir}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
  </head>
  <body class="">
    <Splash />
    <AppHeader />
    <slot />
  </body>
  <script src="@/app-scripts/lenis.ts"></script>
</html>
