---
import Splash from "@/components/features/Splash.astro";
import AppHeader from "@/layouts/AppHeader.astro";
import { getLocale } from "@/paraglide/runtime";
import css from "@/styles/global.css?url";
const lang = getLocale();
const dir = "ltr";
console.log(css);
---

<html {lang} {dir}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <link
      rel="preload"
      href={css}
      as="style"
      fetchpriority="low"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>
  <body class="">
    <Splash />
    <AppHeader />
    <slot />
  </body>
  <script src="@/app-scripts/lenis.ts"></script>
</html>
